It's currently #{Time.now.strftime("%H")}<span class="flash">:</span>#{Time.now.strftime("%M %p")}, so if you're leaving from 


%select{:name => 'origin', "data-target" => 'origin'}
  -@stations.each do |k, v|
    %option{:value=>v}
      =h k
    %end
and headed to
%select{:name => 'dest', "data-target" => 'arrive'}
  -@stations.each do |k, v|
    %option{:value=>v}
      =h k
    %end
,
%div#response

